#new-home {
	width: 500px;
	height: 950px;
	margin-right: 50px;
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgb(0 0 0 / 75%) 0px 6px 16px;
	padding-top: 20px;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 48px;
}

#form-box2 {
	align-self: center;
}

#form-box2 label {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
}

#form-box2 input {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

#form-box label {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
}

#form-box input {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

#checkbox {
	height: 15px;
	width: 15px;
}

textarea {
	resize: none;
	width: 252px;
}

#file {
	color: #E61E4D;
	width: 390px;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#home-input {
	width: 250px;
}

#upload-button {
	background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
	border: none;
	border-radius: 5px;
	width: 304px;
	/* height: 48px; */
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	color: white;
	cursor: pointer;
	margin-bottom: 16px;
	align-self: center;
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
}

#upload-button:hover {
	background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
}