#form-container {
	height: 300px;
	width: 380px;
	margin-right: 50px;
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgb(0 0 0 / 75%) 0px 6px 16px;
	padding-top: 20px;
}

#form-header {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 30px;
	align-self: center;
	text-align: center;
}

#notice {
	display: flex;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
	justify-content: center;
	margin-bottom: 10px;
}

#required {
	color: red;
}

#notice p {
	margin: 0;
	color: red;
}

#form {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}

#form button {
	align-self: center;
}

#form-container label {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
}

#form-container input {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

#form-box {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}

#errors {
	display: flex;
	flex-direction: column;
}

#error {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: red;
	align-self: center;
}