#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 300px;
}

h1 {
	display: block;
	font-family: Helvetica Neue,sans-serif;
	justify-content: left;
}

#home-listing-image {
	width: 550px;
	height: 550px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-top: 24px;
}

#city-state {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
}

#details-container {
	margin-top: 48px;
	display: flex;
}

#booking-form {
	border: 1px solid rgb(221, 221, 221);
	border-radius: 12px;
	padding: 24px;
	box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
	margin-left: 100px;
}

#details-header {
	border-bottom: 1px solid lightgrey;
}

#details-amenities-header {
	padding-top: 48px;
	padding-bottom: 24px;
}

#details-beds {
	display: flex;
	padding-bottom: 24px;
}

#price {
	display: flex;
	margin-bottom: 24px;
	align-items: baseline;
}

#price-cost {
	font-weight: 600;
	font-size: 22px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	line-height: 26px;
	color: rgb(34, 34, 34);
}

#price-night {
	white-space: nowrap;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: rgb(34, 34, 34);
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

#dates {
	display: flex;
}

#input-div {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 150px;
}

#input-div > div {
	padding: 12px 12px 0 12px;
	font-size: 10px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: bold;
	line-height: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#input-div > input {
	padding: 0px 12px 10px 12px;
	border: none;
}

#input-div-guests {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 300px;
	width: 278px;
	padding: 12px;
	margin-bottom: 15px;
}

#guests-div {
	padding-bottom: 5px;
	font-size: 10px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: bold;
	line-height: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#reserve {
	background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
	border: none;
	border-radius: 5px;
	width: 304px;
	height: 48px;
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	color: white;
	cursor: pointer;
	margin-bottom: 16px;
}

#reserve:hover {
	background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
}

#no-charge {
	text-align: center;
	white-space: normal;
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 25px;
}

#costs-subtotal {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
}

#price-per-night {
	color: rgb(34, 34, 34);
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	line-height: 20px;
}

#total {
	color: rgb(34, 34, 34);
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	line-height: 20px;
}

#costs-service {
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
	border-bottom: 1px solid lightgrey;
}

#costs-total {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
}

#total-tag {
	color: rgb(34, 34, 34);
	font-size: 16px;
	font-weight: 600;
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	line-height: 20px;
}